/*Custom Font Face's */
@font-face {
  font-family: "Urbanist";
  src: url(../fonts/Urbanist-Regular.otf);
}
@font-face {
  font-family: "Urbanist Black";
  src: url(../fonts/Urbanist-Black.otf);
}
body {
  margin: 0;
  top: 0;
  color: #e6e6e6;
  background-color: #141414;
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Urbanist Black", "Arial Black", sans-serif;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

hr {
  border: 1.3px solid;
  border-color: #004E77;
}

iframe {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}

/*Navigation Section */
header {
  width: 100%;
  display: flex;
  position: fixed;
}

nav {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #004E77;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.thenav {
  display: flex;
  justify-content: center;
  margin: -15px auto;
}
.thenav a, .thenav a:visited {
  color: #e6e6e6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.44rem;
}
.thenav a:hover {
  font-family: "Urbanist Black", "Arial Black", sans-serif;
  color: #e6e6e6;
}

.mnu {
  display: none;
  cursor: pointer;
}
.mnu .bar {
  width: 25px;
  height: 3px;
  margin: 3px auto;
  background-color: #e6e6e6;
  transition: all 0.3s ease-in-out;
}

.home {
  display: flex;
  margin-bottom: 3px;
  background-image: url(../images/AB2022Logo_1.png);
  background-size: cover;
  width: 105px;
  height: 45px;
}

.home:hover {
  background-image: url(../images/AB2022Logo_12.png);
  background-size: cover;
}

/*Layout Rules*/
.container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.row {
  display: flex;
  margin: 0 -15px;
  padding-left: 1.5rem;
  padding-left: 1.5rem;
}

.col {
  margin: 0 15px 30px;
  box-sizing: border-box;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: 33.33333%;
}

.col-25 {
  width: 25%;
}

.col-20 {
  width: 20%;
}

.col-16 {
  width: 16.66666667%;
}

.col-14 {
  width: 14.28%;
}

.col-12 {
  width: 12.5%;
}

.col-11 {
  width: 11.1111111111%;
}

.col-10 {
  width: 10%;
}

.col-9 {
  width: 9.09%;
}

.col-8 {
  width: 8%;
}

.primary {
  background-color: #141414;
  border-radius: 7px;
  border: 2.4px solid;
  border-color: #4747e9;
}

@media (max-width: 600px) {
  .col2, .col3, .col4, .col5, .col6 {
    display: inline-block;
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  nav {
    min-height: 40px;
    display: flex;
    position: relative;
    padding: 4px;
  }
  nav .mnu {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  nav .mnu mnu.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .mnu mnu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .mnu mnu.active .bar:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }

  .home {
    padding-left: 20px;
    padding-right: 20px;
  }

  .thenav {
    display: flex;
    left: -120%;
    top: 50px;
    width: 100%;
    padding: 4px;
    background-color: #C51D25;
    position: fixed;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 1;
  }
  .thenav li {
    display: block;
    margin: 15px 0;
  }
  .thenav a, .thenav a:visited {
    color: #e6e6e6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.44rem;
  }
  .thenav a:hover {
    font-family: "Urbanist Black", "Arial Black", sans-serif;
    color: #e6e6e6;
  }

  .thenav.active {
    left: 0;
  }

  .container {
    width: 96%;
    padding: 10px 20px;
  }

  .row {
    width: 100%;
    display: block;
    padding: 4px;
  }

  .col2, .col3, .col4 {
    display: inline-block;
    min-width: 100%;
  }

  .col5 {
    display: inline-block;
    min-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .col6 {
    display: inline-block;
    min-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .headerPrimary {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */