
//Colors 
$background: rgb(20, 20, 20);
$color: rgb(230, 230, 230);
$primary: #01018d;
$secondary: #1b1bd1;

//Normal Font Face 
@font-face 
{
    font-family: "Urbanist" ;
    src: url(../fonts/Urbanist-Regular.otf);
}
//Black Font face 
@font-face 
{
    font-family: "Urbanist-Black" ;
    src: url(../fonts/Urbanist-Black.otf);
}

//Font Settings 
$normalfont: "Urbanist", Geneva, Tahoma, sans-serif;
$headerfont: "Urbanist", Geneva, Tahoma, sans-serif;
$fontsize: 1.4rem;
$headersize: 1.5rem;


